{% extends "admin/base_admin.html" %}
{% load static %}


{% block Content %}
	<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tracking</h1>
                    </div>

                    <!-- Content Form -->
                    <div class="container">
                        <div class="row">
                        	{% for data in pesanan %}
	                            <div class="col-sm">
	                                <div class="card">
	                                    <a href="#"data-toggle="modal" data-target="#Modal" class="klik"
	                                    data-id={{data.id}}
	                                    data-approve={{data.ApprovPesanan.approve}}
	                                    data-payment={{data.payment.all}}
	                                    >

	                                    
	                                        <div class="card-body">
	                                        	<p id="namaClient">{{data.client.nama_Client}}</p>
	                                            <p id="telpClient">{{data.client.noTelp_Client}}</p>
	                                            <p id="alamatClient">{{data.client.alamat_Client}} {{data.client.kota_Client}}</p>
	                                            {% for payment in data.payment.all %}
	                                            	{% if forloop.last %}
	                                            		{{payment.get_status_display|json_script:"statusPayment{data.id}"}}
	                                            	{% endif %}
	                                            {% endfor %}
	                                            {{data.ApprovPesanan.approvalSPK.get_status_display|json_script:"statusSPK"}}
	                                            {{data.ApprovPesanan.approvalSPK.get_status_display}}
	                                        </div>
	                                    </a>
	                                </div>
	                            </div>
                        	{% endfor %}
                          
                        </div>
                    </div>

                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
{% endblock Content %}

{% block Modal %}
	{% include "admin/include/modalTracking.html" %}
{% endblock Modal %}

{% block javaScript %}
<script type="text/javascript">
	var  my_fileJs = {{my_list|safe}};
	var loc = window.location
	var wsStart = 'ws://';
	if (loc.protocol == 'https:') {
		wsStart = 'wss://'
	}
	
	url = wsStart + loc.host + loc.pathname;


	$('.klik').click(function(){
		id = $(this).data('id');

		var socket = new WebSocket(url+id);

		socket.onmessage = function(e){
			console.log('message', e);
			var kwitansi = JSON.parse(e.data)
			console.log(kwitansi.kwitansi);
			document.getElementById("kwitansi").innerHTML = kwitansi.kwitansi;

			var ket = kwitansi.keterangan;

			document.getElementById("ket").innerHTML = ket.replace(/\r?\n/g, '<br />');

			var total = kwitansi.total;

			document.getElementById("total").innerHTML = "Total : Rp." + total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
			document.getElementById("nama").innerHTML = kwitansi.nama;
			document.getElementById("telp").innerHTML = kwitansi.telp;
			document.getElementById("alamat").innerHTML = kwitansi.alamat;
			document.getElementById("kota").innerHTML = kwitansi.kota;
			document.getElementById("payment").innerHTML = kwitansi.payment;
			if (kwitansi.approve) {
				document.getElementById("approve").innerHTML = 'Sudah Approv'
			}
			else{

			 document.getElementById("approve").innerHTML = 'Belum Approv'
			}
			document.getElementById("teknisi").innerHTML = 'Teknisi : ' + kwitansi.teknisi;
			document.getElementById("spkProgress").innerHTML = kwitansi.spkProgress;

		};

		socket.onopen = function(e){
			console.log('open', e);
		};

		socket.onerror = function(e){
			console.log('error', e);
		};

		socket.onclose = function(e){
			console.log('close', e);
		};
		
				
	});
</script>
{% endblock javaScript %}