{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#home" class="navbar-brand ">
                <img src="{% static "asset/Logo_cv.png" %}" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" style="color: #783b08;" href="#about">About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #783b08;" href="#HowToOrder">How To Order </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #783b08;" href="#contact">Product </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #783b08;" href="https://api.whatsapp.com/send/?phone=6281336539078&text&app_absent=0" target="_blank">Contact </a>
                </li>
            </ul>

        </div>

    </div>
</nav>