html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 2px;
}

.jumbotron,
.about {
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
}

.HowToOrder {
    width: 100%;
    height: 800px;
    background-size: 50% 100%;
}

.nav-link {
    font-size: medium;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #a68058;
}

.card {
    width: 300px;
    height: 250px;
    border-width: 50px;
    border-radius: 15px;
    border-color: #F1CD3B;
    background-color: transparent;
}

.ftco-love {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}


/* 
@media (min-width: 768px) {
    .timeline>li {
        margin-top: -50px;
    }
} */

.timeline>li:first-child {
    margin-top: 0;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.product {
    height: 950px;
}

.timeline>li>.timeline-panel1 {
    width: 85%;
    height: max-content;
    position: relative;
    border-radius: 20px;
    z-index: 0;
    background: #F1CD3B;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
}

.timeline>li>.timeline-panel {
    width: 43%;
    position: relative;
    z-index: 0;
    background: #F1CD3B;
    padding: 50px;
    -webkit-box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 32px -19px rgba(0, 0, 0, 0.36);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    content: '';
    border: 1px dashed rgba(255, 255, 255, 0.5);
    z-index: -1;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    content: '';
    border: 1px dashed rgba(255, 255, 255, 0.5);
    z-index: -1;
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}


/* @media (max-width: 767.98px) {
    .timeline>li>.timeline-panel {
        width: 85%;
        float: right;
    }
} */

.timeline-badge1 {
    background-size: cover;
    background-position: right right;
    background-repeat: no-repeat;
    position: fixed;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 50px;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.timeline>li>.timeline-badge {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.timeline>li>.timeline-badge:after {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


/* @media (max-width: 767.98px) {
    .timeline>li>.timeline-badge {
        width: 80px;
        height: 80px;
        margin-left: -15px;
        left: 0;
    }
} */

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline-title {
    margin-top: 0;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Rochester", cursive;
}

.testimony-section {
    position: relative;
}

.testimony-section .owl-carousel {
    margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
    padding: 1.2em 0 1em 0;
    position: relative;
}

.testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span:before,
.testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
    color: #fff;
}

.testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
    opacity: 1;
}

.testimony-section:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section .owl-dots {
    text-align: center;
}

.testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.testimony-section .owl-dots .owl-dot.active {
    background: #d291bc;
}

.testimony-wrap {
    display: block;
    position: relative;
    background: white;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    z-index: 0;
}

.text-gray {
    color: #F1CD3B;
}

.testimony-wrap .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d291bc;
    z-index: -1;
}

.testimony-wrap .icon span {
    color: #fff;
    font-size: 30px;
}

.carousel-inner {
    height: 235px;
}

.testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border: 5px solid #f0d9e8;
}

.testimony-wrap .name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    color: #000000;
}

.testimony-wrap .position {
    font-size: 16px;
    color: #d291bc;
}

hr {
    width: 250px;
    border-top: 4px solid #999;
    margin-bottom: 3rem;
}

section {
    height: 800px;
}

.HowToOrder {
    height: 1000px
}

footer {
    background-color: #F1CD3B;
    position: relative;
    bottom: 0;
}